body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("image.png");
  background-size: cover;
  background-position: center;
  font-size: 1.2rem;
}

.max-w-md {
  max-width: 400px;
  padding: 2em;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 1.1rem;
  text-align: center;
}

h2 {
  font-size: 3rem;
  animation: color-change 5s infinite;
  animation: blink 1s infinite;
}

@keyframes color-change {
  0% {
    color: #eadada;
  }
  50% {
    color: #dbd9d4;
  }
  100% {
    color: #cacad5;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

label {
  font-size: 1.5rem;
  font-family: Arial, sans-serif;
  animation: color-change 5s infinite;
}

input[type="number"] {
  font-size: 1.1rem;
  padding: 1em;
  width: 100%;
}

select {
  font-size: 1.1rem;
  padding: 1em;
  width: 100%;
}

button {
  font-size: 1.1rem;
  padding: 1em 2em;
}

#result h2 {
  font-size: 2rem;
  animation: color-change 2s infinite;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

@media (max-width: 768px) {
  body {
    font-size: 1.1rem;
  }
  .max-w-md {
    max-width: 300px;
  }
}
